body {


}

.hora {
	
	margin: 5% 0 auto 0;
	font-size: 140pt;
	text-align: center;
	text-shadow: #600 1px 2px 5px;
	color: white;

}

.data {
	margin: 5% 0 auto 0;
	font-size: 100pt;
	text-align: center;
	text-shadow: #600 1px 2px 5px;
	color: white;
}

.relogio {
  
	background: url("../img/bg_time.png") top;
	background-size:cover;
	width: 1280px; 
	height: 677px; 


}

